:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  background-color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.66667rem) [col-end]
    )
    [center-end] 1fr [container-end];

  grid-template-rows: min-content 100vh repeat(9, min-content);

  @include mq-lg {
    grid-template-rows: min-content 90vh repeat(9, min-content);
  }
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: fw(light);
  color: var(--color-quinary);
  font-size: fs(xs);
  letter-spacing: 0.2rem;
}

i {
  font-size: fs(md);
  color: var(--color-primary);
}

button,
a {
  cursor: pointer;
}
