.motto {
  grid-column: container-start / container-end;
  @extend %sec-padding;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  @extend %bg;
  background-image: url(../img/motto/motto-bg.jpg);

  &-card {
    display: grid;
    grid-gap: 2em;
    background-color: var(--color-tertiary-m);
    padding: 2em;

    &_title {
      letter-spacing: 0.2rem;
      font-size: fs(md);
      font-weight: fw(light);
      color: var(--color-quinary);
    }
    &_para {
      font-size: fs(xs);
      color: var(--color-quinary);
      letter-spacing: 0.2rem;
    }
    &_button {
      width: max-content;
      background-color: transparent;
      border: none;
      text-transform: capitalize;
      font-size: fs(xs);
      color: var(--color-quinary);
      letter-spacing: 0.2rem;
      padding: 0.8em 1.2em;
      font-weight: fw(thin);
      position: relative;
      overflow: hidden;
    }
    &_button div:nth-of-type(2n) {
      position: absolute;
      background: linear-gradient(90deg, var(--color-primary), transparent);
      transition: 0.5s;
      height: 2px;
      width: 100%;
    }
    &_button div:nth-of-type(2n + 1) {
      position: absolute;
      background: linear-gradient(90deg, transparent, var(--color-primary));
      transition: 0.5s;
      height: 100%;
      width: 2px;
    }

    &_button div:nth-of-type(1) {
      right: 0;
      bottom: 100%;
      transition-delay: 0.5s;
    }
    &_button div:nth-of-type(2) {
      right: 100%;
      top: 0;
      transition-delay: 0.75s;
    }
    &_button div:nth-of-type(3) {
      left: 0;
      top: 100%;
      transition-delay: 0s;
    }
    &_button div:nth-of-type(4) {
      left: 100%;
      bottom: 0;
      transition-delay: 0.25s;
    }

    &_button:hover {
      background-color: var(--color-primary);
      transition: background-color 1s ease-in-out;
      transition-delay: 1s;

      & div:nth-of-type(1) {
        bottom: -100%;
        transition-duration: 1s;
        transition-delay: 0.25s;
      }
      & div:nth-of-type(2) {
        right: -100%;
        transition-duration: 1s;
        transition-delay: 0s;
      }
      & div:nth-of-type(3) {
        top: -100%;
        transition-delay: 0.75s;
        transition-duration: 1s;
      }
      & div:nth-of-type(4) {
        left: -100%;
        transition-delay: 0.5s;
        transition-duration: 1s;
      }
    }
  }
}

// animation

// @keyframes motto {
//   0% {
//     border-top: 2px solid var(--color-primary);
//   }
//   25% {
//     border-top: none;
//     border-right: 2px solid var(--color-primary);
//   }
//   50% {
//     border-right: none;
//     border-bottom: 2px solid var(--color-primary);
//   }
//   75% {
//     border-bottom: none;
//     border-left: 2px solid var(--color-primary);
//   }
//   100% {
//     border-left: none;
//   }
// }
